* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  background-color: black;
}

.shortcut_list {
  position: absolute;
  width: 20%;
  height: 70%;
  right: 0;
  margin-top: 15vh;
  overflow-y: scroll;
  > li {
    margin: 10px 0;
  }
}

.shortcut_list::-webkit-scrollbar {
  display: none;
}

.area_list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow-y: scroll;
}

.area_list:-webkit-scrollbar {
  display: none;
}
