#title {
  position: absolute;
  width: 16vh;
  height: 8%;
  left: 3vh;
  top: 3vh;
  z-index: 3;
}

#title:focus {
  outline: 2px solid white;
  outline-offset: -2px;
  border-radius: 5px;
}

#title_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#menu {
  font-family: "JetBrains Mono", monospace;
  position: absolute;
  top: 0;

  background-color: #000000;
  height: 100%;
  display: inline-flex;
  flex-direction: row-reverse;
  z-index: 2;
  font-size: x-small;
  right: 0%;
  writing-mode: vertical-lr;
  transform: rotate(0.5turn);
  list-style-type: none;
  overflow: hidden;
}

#menu > li {
  color: #ffffff;
  width: 25px;
  height: 20%;
  text-align: center;
  line-height: 25px;
  font-weight: 500;
}

#menu > li > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background: #bb00ff;
}

#menu > li > a:hover,
#menu > li > a:focus {
  color: #bb00ff;
  background: #00ffff;
}
